{{> nav}}
<section class="container">

<h2>Sign Up Form</h2>
<form action="/form" class="form">

<div class="input-group">
<label for=""><span>Email</span></label>
<input type="text" name="" id="" >

</div>

<div class="input-group">
<label for=""> <span>Password</span></label>
<input type="password" name="" id="">

</div>


<button>Sign Up</button>

</form>
<p class="newUser">
    Already have an account? <span>Login</span>
</p>

</section>