{{> nav}}
<div class="singup-box">
    <h2>Sing Up</h2>  
<form action="/singup" method="POST">
<div class="user-input">
<input type="text" name="name"  value = "{{name}}"required>
<label > Name </label>
</div>

<div class="user-input">
<input type="email" name="email" value="{{email}}" required>
<label > Email </label>
</div>

<div class="user-input">
<input type="password" name="password"  required>
<label > Password </label>
</div>

<div class="user-input">
<input type="file" name="profile" accept="image/png, image/jpeg" required>
<label > Profile Picture </label>
</div>
 <input type="submit" value="Sing Up">
</form>

</div>