{{>nav}}
<div class="textbox-wrapper">
<h3>Post a new article</h3>
<form action="/newpost" method="post">
<label for="heading"> Title</label>
<input type="text" name="title" id="">
<textarea rows="15" name="contain">

</textarea>


</form>

</div>