.form-wrapper h3{
    font-size: 30px;
    padding: 20px 0 20px;
text-align: center;
}

.main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

form {
    width: 320px;
    margin: 10px 10px 0;
    text-align: center;
    }
    
    form > input[type=file], form > input[type=file]:before {
    display: block;
    width: 140px;
    height: 40px;
    margin: 0 auto;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    }
    form > input[type=file] {
    position: relative;
    }
    form>input[type="file"]{
        z-index: -1;
    }
    form > input[type=file]:before {
    content: 'Choose a Photo';
    position: absolute;
    top: -2px;
    left: -2px;
    color: #3c5b6d;
    font-size: 18px;
    background: yellowgreen;
    border-radius: 3px;
    border: 2px solid #3c5b6d;

    }
    form > button[type=submit] {
    border-radius: 3px;
    font-size: 18px;
    display: block;
    border: none;
    cursor: pointer;
    background: burlywood;
    width: 240px;
    margin: 20px auto;
    padding: 15px 20px;
    }
    